In [2]:
for i in range(10):
    print(i);

0
1
2
3
4
5
6
7
8
9

In [3]:
range(10)

range(0, 10)

In [4]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
for i in range(2,5):
    print('hi',i)

hi 2
hi 3
hi 4

In [8]:
for i in range(0, 10, 2):
    print('hi')

hi
hi
hi
hi
hi

In [10]:
for i in range(10, 0, -1):
    print('hi',i)

hi 10
hi 9
hi 8
hi 7
hi 6
hi 5
hi 4
hi 3
hi 2
hi 1

In [13]:
for i in range(10):
    print('hi', end=' ')
    i = 10

hi hi hi hi hi hi hi hi hi hi

In [14]:
count = int(input('횟수를 입력해 주세요: '))
for i in range(count):
    print('ㅗㅜㅑ')

횟수를 입력해 주세요: 3
ㅗㅜㅑ
ㅗㅜㅑ
ㅗㅜㅑ

In [17]:
a = [1,2,3,4,5]
for asd in a:
    print(asd)

1
2
3
4
5

In [18]:
for letter in 'python':
    print(letter)

p
y
t
h
o
n

In [20]:
for letter in reversed('python'):
    print(letter)

n
o
h
t
y
p

In [21]:
for i in range(5,16):
    print(i)

5
6
7
8
9
10
11
12
13
14
15

In [22]:
for i in range(20, 40, 2):
    print(i)

20
22
24
26
28
30
32
34
36
38

In [32]:
count = int(input())
for i in range(1, 10):
    print(count,'*',i,'=',count*i)

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [33]:
i = 0
while i < 10:
    print('hi')
    i +=1

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

In [ ]:
i = 10
while i > 0:
    print('hi')
    i -= 1

In [38]:
count = int(input('값을 입력해 주세요: '))
i = 0
while i < count:
    print('hi', count)
    count -=1

값을 입력해 주세요: 15
hi 15
hi 14
hi 13
hi 12
hi 11
hi 10
hi 9
hi 8
hi 7
hi 6
hi 5
hi 4
hi 3
hi 2
hi 1

In [39]:
import random
random.random()
random.random()
random.random()

0.4814498727505564

In [40]:
random.random()

0.927422486592951

In [41]:
random.random()

0.6047027822780074

In [42]:
import random
i=0
while i !=3:
    i = random.randint(1,6)
    print(i)

2
1
2
5
4
1
2
4
4
5
4
6
6
1
4
1
3

In [43]:
dice = [1,2,3,4,5,6]
random.choice(dice)

1

In [44]:
dice = [1,2,3,4,5,6]
random.choice(dice)

3

In [48]:
i=2
j=5

while i<=32 or j>=1:
    print(i,j)
    i *=2
    j -= 1

2 5
4 4
8 3
16 2
32 1

In [3]:
price = int(input())
n = 0
while price>=1350:
    num = 1350
    price = price - num
    print(price)

10000
8650
7300
5950
4600
3250
1900
550

In [4]:
i = 0
while True:
    print(i)
    i += 1
    if i == 100:
        break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [6]:
for i in range(1000):
    print(i)
    if i == 10:
        break

0
1
2
3
4
5
6
7
8
9
10

In [7]:
for i in range(100):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [8]:
i = 0
while i < 100:
    i += 1
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [9]:
count = int(input('값 입력:')) 

i = 0
while True:
    print(i)
    i += 1
    if i == count:
        break

값 입력:19
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

In [10]:
count = int(input('값 입력'))

i = 0 
for i in range(count+1):
    if i % 2 == 1:
        continue
    print(i)

값 입력10
0
2
4
6
8
10

In [19]:
i = 1
stop = 20
while i<stop: 
    print(i)
    i += 1
    if(i%10 == 3):
        continue

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [21]:
for i in range(5):
    for j in range(5):
        print('j:', j, sep ='', end=' ')
        
    print('i: ', i, '\\n', sep ='')

j:0 j:1 j:2 j:3 j:4 i: 0\n
j:0 j:1 j:2 j:3 j:4 i: 1\n
j:0 j:1 j:2 j:3 j:4 i: 2\n
j:0 j:1 j:2 j:3 j:4 i: 3\n
j:0 j:1 j:2 j:3 j:4 i: 4\n

In [23]:
for i in range(5):
    for j in range(5):
        print('* ', end = '')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [24]:
for i in range(3):
    for j in range(7):
                print('*', end = '')
    print()

*******
*******
*******

In [25]:
for i in range(5):
    for j in range(5):
        if j <= i:
            print('*', end = '')
    print()

*
**
***
****
*****

In [28]:
for i  in range(5):
    for j in range(5):
        if j == i:
            print('*', end ='')
        else:
            print(' ', end= '')
    print()

*
 *
  *
   *
    *

In [30]:
for i in range(5):
    for j in range(5):
        if j < i:
            print(' ', end ='')
        else:
            print('*', end = '')
    print()

*****
 ****
  ***
   **
    *

In [33]:
height = int(input())

for i in range(height):
    for j in reversed(range(height)):
        if j > i:
            print(' ', end='')
        else:
            print('*', end='')
    for j in range(height):
        if j < i:
            print('*', end='')
    print()

10
         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [36]:
for i in range(1, 31):
    if(i%3 == 0):
        print('Fizz')
    elif(i%5 == 0):
        print('Buzz')
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz

In [38]:
for i in range(1, 31):
    if(i%3 == 0 and i%5 ==0):
        print('FizzBuzz')
    elif(i%3 == 0):
        print('Fizz')
    elif(i%5 == 0):
        print('Buzz')
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz

In [39]:
for i in range(1, 101):
    if i % 15 == 0:
        print('FizzBuzz')
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print('Buzz')
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [40]:
for i in range(1, 31):
    print('Fizz' * (i % 3 == 0) + 'Buzz'*(i % 5 == 0) or i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz

In [41]:
for i  in range(1, 101):
    if i%22 == 0:
        print('FizzBuzz')
    elif i%2 == 0:
        print('Fizz')
    elif i%11 == 0:
        print('Buzz')
    else:
        print(i)

1
Fizz
3
Fizz
5
Fizz
7
Fizz
9
Fizz
Buzz
Fizz
13
Fizz
15
Fizz
17
Fizz
19
Fizz
21
FizzBuzz
23
Fizz
25
Fizz
27
Fizz
29
Fizz
31
Fizz
Buzz
Fizz
35
Fizz
37
Fizz
39
Fizz
41
Fizz
43
FizzBuzz
45
Fizz
47
Fizz
49
Fizz
51
Fizz
53
Fizz
Buzz
Fizz
57
Fizz
59
Fizz
61
Fizz
63
Fizz
65
FizzBuzz
67
Fizz
69
Fizz
71
Fizz
73
Fizz
75
Fizz
Buzz
Fizz
79
Fizz
81
Fizz
83
Fizz
85
Fizz
87
FizzBuzz
89
Fizz
91
Fizz
93
Fizz
95
Fizz
97
Fizz
Buzz
Fizz

In [ ]:
a,b = int(input())

In [56]:
a, b = map(int, input().split())

for i in range(a, b+1):
    if i%5 == 0 and i%7 ==0 :
        print('FizzBuzz')
    elif i%5 == 0:
        print('Fizz')
    elif i%7 == 0:
        print('Buzz')
    else:
        print(i)

35 40
FizzBuzz
36
37
38
39
Fizz

In [57]:
a = [1,2,3]
a.append(5)

In [58]:
a

[1, 2, 3, 5]

In [59]:
len(a)

4

In [60]:
b = [3,4,5]
b.append([6,7])
print(b)

[3, 4, 5, [6, 7]]

In [62]:
a = [1,2,3]
b = [4,5,6]

a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6]

In [63]:
a = [1,2,3]
a.insert(1, 5)
print(a)

[1, 5, 2, 3]

In [64]:
a= [1,2,3]
a[0:2] = [5,6]
print(a)

[5, 6, 3]

In [66]:
a = [1,2,3]
a[0:0] = [4,5]
print(a)

[4, 5, 1, 2, 3]

In [1]:
a = [1,2,3,4,5]
for i in a:
    print(i)

1
2
3
4
5

In [3]:
a = [1,2,3,4,5]
for index, value in enumerate(a):
    print(index, value)

0 1
1 2
2 3
3 4
4 5

In [4]:
a =[1,2,3,4,5]
i = 0
while i < len(a):
    print(a[i])
    i += 1

1
2
3
4
5

In [5]:
a = [1,2,3,4,5]
smallest = a[0]
for i in a:
    if i < smallest:
        smallest = i
smallest

1

In [6]:
a = [1,2,3,4,5]
largest = a[0]
for i in a:
    if i > largest:
        largest = i
largest

5

In [7]:
a = [2,3,1,5,4]
a.sort()
print(a[0])

1

In [8]:
a = [2,3,1,5,6]
a.sort(reverse = True)
print(a[0])

6

In [10]:
a = [2,3,1,5,6]
print(min(a))
print(max(a))

1
6

In [12]:
a = [1,3,5,7,9]
x = 0
for i in a:
    x += i
print(x)

25

In [13]:
a = [1,3,5,7,9]
sum(a)

25

In [14]:
a = [i for i in range(10)]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
i

9

In [16]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [17]:
b = list(i for i in range(10))

In [18]:
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
c = [i+5 for i in range(10)]
print(c)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [21]:
c = [i*2 for i in range(10)]
print(c)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [22]:
list(i*2 for i in range(10))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [23]:
list(i+3 for i in range(10))

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [24]:
a = [i for i in range(10) if i%2 == 0]

In [25]:
print(a)

[0, 2, 4, 6, 8]

In [27]:
a = [i*j for j in range(2,10) for i in range(1,10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [41]:
a = [1.2,2,3,4,5]
for i in range(len(a)):
    a[i] = int(a[i])
print(a)

[1, 2, 3, 4, 5]

In [38]:
a = [1.1, 2.2, 3.3, 4.4]
a = list(map(int, a))
print(a)

[1, 2, 3, 4]

In [39]:
a = map(int, input('안녕하세요:'))

안녕하세요:1.2

In [42]:
a = list(map(str,range(10)))
print(a)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [46]:
a = input().split()

10 20

In [47]:
print(a)

['10', '20']

In [55]:
a = map(int, input().split())

10 20

In [56]:
print(a)

<map object at 0x0000019F15ADB040>

In [57]:
list(a)

[10, 20]

In [58]:
a, b = map(int, input().split())
print(a)
print(b)

10 20
10
20

In [60]:
x = input().split()
m = map(int, x)
a, b = m
print(a,b)

10 20
10 20

In [61]:
a = (1,2,3,4,5)
min(a)
max(a)
sum(a)

15

In [62]:
min(a)

1

In [63]:
max(a)

5

In [64]:
a = [1,2,3]
a.append(40)

In [65]:
a

[1, 2, 3, 40]

In [67]:
a[len(a): ] = [50]

In [68]:
a

[1, 2, 3, 40, 50]

In [70]:
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
b = list(i for i in a if len(i) == 5)
print(b)

['alpha', 'bravo', 'delta', 'hotel', 'india']

In [83]:
a, b = list(map(int, input().split()))
c = [2**i for i in range(a,b+1)]
del c[1]
del c[-2]
print(c)

10 20
[1024, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 1048576]

In [85]:
a = [[10, 20], [30, 40], [50, 60]]
a[0][0] = 1000

In [86]:
a[0][0]

1000

In [87]:
a[0][1]

20

In [97]:
my_string = "hello"
a = my_string.split()

In [101]:
a

['hello']

In [103]:
my_string[1]

'e'

In [104]:
list(my_string)

['h', 'e', 'l', 'l', 'o']

In [105]:
my_string

'hello'

In [106]:
a = list(my_string)

In [107]:
a[1], a[2] = a[2], a[1]

In [108]:
a

['h', 'l', 'e', 'l', 'o']

In [113]:
b = ''.join(a)

In [114]:
print(b)

hlelo

In [115]:
a = [[10,20],[30,40],[50,60]]

In [116]:
print(a)

[[10, 20], [30, 40], [50, 60]]

In [119]:
a = [[10, 20], [30, 40], [50, 60]]
a[0][0]= 10000
print(a[0][0])

10000

In [123]:
from pprint import pprint
pprint(a, indent = 4, width = 20)

[   [10000, 20],
    [30, 40],
    [50, 60]]

In [124]:
a = [[10, 20], [30, 40], [50, 60]]
for a, b in a:
    print(a,b)

10 20
30 40
50 60

In [126]:
a = [[10, 20], [30, 40], [50, 60]]
for i in a:
    for j in i:
        print(j, end= ' ')
    print()

10 20
30 40
50 60

In [127]:
a = [[10, 20], [30, 40], [50, 60]]

for i in range(len(a)):
    for j in range(len(a[i])):
        print(a[i][j], end= ' ')
    print()

10 20
30 40
50 60

In [128]:
a = []

for i in range(3):
    line = []
    for j in range(2):
        line.append(0)
    a.append(line)
    
print(a)

[[0, 0], [0, 0], [0, 0]]

In [129]:
a = [[0 for j in range(2)] for i in range(3)]

In [130]:
print(a)

[[0, 0], [0, 0], [0, 0]]

In [1]:
a = [[0]* 2 for i in range(3)]
print(a)

[[0, 0], [0, 0], [0, 0]]

In [2]:
a = [3,1,3,2,5]
b = []

for i in a:
    line = []
    for j in range(i):
        line.append(0)
    b.append(line)
print(b)

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

In [5]:
a = [[0] * i for i in [3,1,3,2,5]]
print(a)

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

In [8]:
students = [
    ['john', 'C', 19],
    ['maria', 'A', 25],
    ['andrew', 'B', 7]
]
print(sorted(students, key = lambda student: student[2]))

[['andrew', 'B', 7], ['john', 'C', 19], ['maria', 'A', 25]]

In [9]:
a = [1,2,3]
print(sorted(a, key = lambda as: as[len(a)-1])) ???

SyntaxError: invalid syntax (1940389549.py, line 2)

In [10]:
a = [[10,20], [30,40]]
b = a
b[0][0] = 500
print(a)
print(b)

[[500, 20], [30, 40]]
[[500, 20], [30, 40]]

In [11]:
a = [[10,20], [30,40]]
b = a.copy()
b[0][0] = 500
print(a)
print(b)

[[500, 20], [30, 40]]
[[500, 20], [30, 40]]

In [12]:
a = [[10, 20], [30, 40]]
import copy
b = copy.deepcopy(a)
b[0][0] = 500
print(a)
print(b)

[[10, 20], [30, 40]]
[[500, 20], [30, 40]]

In [13]:
a = [[[0 for col in range(3)]for row in range(4)]for height in range(2)]

In [14]:
print(a)

[[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]], [[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]]

In [15]:
a = [[[0 for row in range(4)]for col in range(3)]for height in range(2)]
print(a)

[[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]], [[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]]

In [18]:
col, row = map(int,input().split())
matrix = []
for i in range()

10 20

In [21]:
col, row = list(map(int,input().split()))
print(col, row)

3 3
3 3

In [37]:
col, row = list(map(int,input().split()))
matrix = []
for i in range(row):
    matrix.append(list(input()))
for i in range(row):
    for j in range(col):
        if matrix[i][j] == '*':
            continue
        else:
            matrix[i][j] = 0
            for y in range(i - 1, i + 2):
                for x in range(j - 1, j + 2):
                    if y < 0 or x < 0 or y >= row or x >= col:
                        continue
                    elif matrix[y][x] == '*':
                        matrix[i][j] += 1
    
for i in range(col):
    for j in range(row):
        print(matrix[i][j], end = '')
    print()

3 3
.**
...
*.*
1**
243
*2*

In [38]:
'Hello, world' .replace('world','python')

'Hello, python'

In [39]:
s = 'Hello, world'
s = s.replace('world','python')
print(s)

Hello, python

In [41]:
table = str.maketrans('aeiou','12345')
'apple'.translate(table)

'1ppl2'

In [42]:
s = 'Hello, world'
s = s.replace('w','r')
print(s)

Hello, rorld

In [43]:
s = 'Hello, world'
s = s.replace('l', 'e')
print(s)

Heeeo, wored

In [44]:
table = str.maketrans('aeiou','12345')
'aeiou'.translate(table)

'12345'

In [45]:
'apple pear grape pineapple orange'.split()

['apple', 'pear', 'grape', 'pineapple', 'orange']

In [46]:
' '.join(['apple', 'pear', 'grape', 'pineapple', 'orange'])

'apple pear grape pineapple orange'

In [47]:
'python'.upper()

'PYTHON'

In [48]:
'PYTHON'.lower()

'python'

In [49]:
'  Python  '.lstrip()

'Python  '

In [51]:
'  python '.lstrip('p')

'  python '

In [52]:
'python'.ljust(10)

'python    '

In [53]:
'python'.rjust(10)

'    python'

In [55]:
'python'.center(10)

'  python  '

In [56]:
'35'.zfill(4)

'0035'

In [57]:
'3.5'.zfill(6)

'0003.5'

In [61]:
'apple pineapple'.find('p')

1

In [62]:
'apple pineapple'.count('p')

5

In [67]:
keys = ['a', 'b', 'c', 'd', 'e']
x = {key: value for key, value in dict.fromkeys(keys).items()}
print(x)

{'a': None, 'b': None, 'c': None, 'd': None, 'e': None}

In [68]:
x = {key: value for key, value in dict.fromkeys(keys).items()}
print(x)

{'a': None, 'b': None, 'c': None, 'd': None, 'e': None}

In [69]:
{key: 0 for key in dict.fromkeys(['a','b','c','d']).keys()}

{'a': 0, 'b': 0, 'c': 0, 'd': 0}

In [72]:
{value: 0 for value in {'a':10, 'b':20, 'c': 30, 'd': 40}.values()}

{10: 0, 20: 0, 30: 0, 40: 0}

In [73]:
{value: key for key, value in {'a': 10, 'b':20, 'c':30, 'd':40}.items()}

{10: 'a', 20: 'b', 30: 'c', 40: 'd'}

In [74]:
terrestrial_planet = {
      'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}
print(terrestrial_planet['Mercury']['mean_radius'
])

2439.7

In [77]:
terrestrial_planet = {
      'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}
print(terrestrial_planet['Mars']['orbital_period'
])

686.96

In [78]:
x = {'a': 0 ,'b': 0, 'c':0,'d':0 }
y = x
print(y)

{'a': 0, 'b': 0, 'c': 0, 'd': 0}

In [79]:
x is y

True

In [80]:
y['a'] = 10
print(x)

{'a': 10, 'b': 0, 'c': 0, 'd': 0}

In [81]:
x = {'a': 10, 'b': 0, 'c': 0, 'd': 0}
y=x.copy()
x is y

False

In [82]:
x == y

True

In [83]:
y['a'] = 20
print(x)

{'a': 10, 'b': 0, 'c': 0, 'd': 0}

In [84]:
x = {'a':{'python': 2.7}, 'b':{'python': 3.5}}
import copy
y = copy.deepcopy(x)
y['a']['python'] = 3.0
print(x)
print(y)

{'a': {'python': 2.7}, 'b': {'python': 3.5}}
{'a': {'python': 3.0}, 'b': {'python': 3.5}}

In [98]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x = {key: value for key, value in x.items() if value != 40}
print(x)

{'a': 10, 'b': 20, 'c': 30}

In [106]:
x = {'python': {'version': '2.7'}, 'script': {'name': 'hello.py'}}
a = x
b = x.copy()
print(b['python']['version'])
a['python']['version'] = '3.6'
print(a['python']['version'], b['python']['version'])

2.7
3.6 3.6

In [107]:
maria = {'korean': 94, 'english': 91, 'mathematics': 89, 'science': 83}
avg = sum(maria.values()) /len(maria)
print(avg)

89.25

In [130]:
keys = input().split()
values = map(int, input().split())

x = dict(zip(keys, values))

del x['delta']
x = {keys: values for keys, values in x.items() if values != 30}
print(x)

alpha bravo charlie delta
10 20 30 40
{'alpha': 10, 'bravo': 20}

In [131]:
fruits={'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}

In [132]:
'grape' in fruits

True

In [134]:
'rambutan' not in fruits

True

In [136]:
a = set('apple')
print(a)

{'e', 'p', 'l', 'a'}

In [137]:
a = {1,2,3,4}
b = {3,4,5,6}
a|b

{1, 2, 3, 4, 5, 6}

In [138]:
a = {1,2,3,4}
b = {3,4,5,6}
set.union(a,b)

{1, 2, 3, 4, 5, 6}

In [139]:
a = {1,2,3,4}
b = {3,4,5,6}
set.intersection(a,b)

{3, 4}

In [140]:
a = {1,2,3,4}
b = {3,4,5,6}
a- b

{1, 2}

In [141]:
set.difference(a,b)

{1, 2}

In [142]:
a = {1,2,3,4}
b = {3,4,5,6}
a ^ b

{1, 2, 5, 6}

In [143]:
a = {1,2,3,4}
a |= {5}
print(a)

{1, 2, 3, 4, 5}

In [145]:
a = {1,2,3,4}
a <= {1,2,4}

False

In [146]:
a = {1,2,3,4}
a < {1,2,3,4,5}

True

In [147]:
a = {1,2,3,4}
a < {1,2,3,4}

False

In [148]:
a = {1,2,3,4}
a < {1,2,3}

False

In [149]:
a = {1,2,3,4}
a > {1,2,3}

True

In [150]:
a = {1,2,3,4}
a == {1,3,2,4}

True

In [152]:
a = {1,2,3,4}
b = {3,4,5,6}
c = {5,6,7,8}

a.isdisjoint(c)

True

In [153]:
a = {1,2,3,4}
a.pop()
print(a)

{2, 3, 4}

In [154]:
a = {1,2,3,4}
b = a.copy()

In [155]:
a is b
a == b

True

In [156]:
a = {i for i in 'apple'}
print(a)

{'e', 'p', 'l', 'a'}

In [158]:
a = {i for i in 'penpinappleapplepen' if i not in 'pl'}
print(a)

{'e', 'n', 'a', 'i'}

In [159]:
num1, num2 = map(int, input().split())
a = {i for i in range(1, num1+ 1) if num1%i == 0}
b = {i for i in range(1, num2 + 1) if num2 %i ==0}

divisor = a&b

result = 0 
if type(divisor) == set:
    result = sum(divisor)
print(result)

10 20
18

In [160]:
file = open('hello.txt', 'w')
file.write('Hello, world')

12

In [161]:
with open('hello.txt', 'w') as file:
    file.write('hello, world')

In [163]:
with open('hellol.txt', 'w') as file:
    for i in range(3):
        file.write('Hello, world! {0}\n'.format(i))

In [164]:
with open('words.txt', 'r') as file:
    words = file.readlines()
        for word in words:
            if len(word.strip('\n')) <= 10:
                count += 1

IndentationError: unexpected indent (2632462442.py, line 3)

In [166]:
with open('words.txt', 'r'):
    words = file.read()
    words = words.split()
    for word in words:
            if 'c' in word:
                print(word.strip(',.'))

FileNotFoundError: [Errno 2] No such file or directory: 'words.txt'

In [168]:
word =  input('단어 입력: ')
is_palindrome = True
for i in range(len(word) // 2):
    if word[i] != word[-1 - i]:
        is_palindrome = False
        break

print(is_palindrome)

단어 입력: hello
False

In [169]:
word = input('단어 입력: ')
print(word == word[::-1])

단어 입력: level
True

In [170]:
text = 'hello'
for i in range(len(text) - 1):
    print(text[i], text[i + 1], sep='')

he
el
ll
lo

In [176]:
text = 'hello'
two_gram = zip(text, text[1:])
for i in two_gram:
    print(i[0],i[1], sep='')

ello
he
el
ll
lo

In [177]:
text = 'hello'
[text[i:] for i in range(3)]

['hello', 'ello', 'llo']

In [179]:
list(zip(*['hello', 'ello', 'llo']))

[('h', 'e', 'l'), ('e', 'l', 'l'), ('l', 'l', 'o')]

In [186]:
n = int(input())
text = input()
words = text.split()

if len(words) < n:
    print('wrong')
else:
    n_gram = zip(*[words[i:]for i in range(n)])
    for i in n_gram:
        print(i)

7
Python is a programming language that lets you work quickly
('Python', 'is', 'a', 'programming', 'language', 'that', 'lets')
('is', 'a', 'programming', 'language', 'that', 'lets', 'you')
('a', 'programming', 'language', 'that', 'lets', 'you', 'work')
('programming', 'language', 'that', 'lets', 'you', 'work', 'quickly')

In [188]:
words = ['did', 'apache', 'noon']

for i in words:
    if i == i[::-1]:
         print(i)

did
noon

In [190]:
def hello():
    print('Hello, world')
hello()

Hello, world

In [191]:
def add(a, b):
    print(a+b)
add(2, 3)

5

In [192]:
def add(a,b):
    """독스트링
    """
    print(a+b)
add(2,3)

5

In [193]:
print(add.__doc__)

독스트링

In [194]:
help(add)

Help on function add in module __main__:

add(a, b)
    독스트링

In [195]:
def add(a,b):
    return a+b
x = add(2,3)
print(x)

5

In [196]:
def add_sub(a,b):
    return a+b, a-b
x, y = add_sub(3,4)

In [197]:
print(x, y)

7 -1

In [199]:
x = add_sub(10, 20)
print(x)

(30, -10)

In [200]:
x = list(add_sub(10,20))
print(x)

[30, -10]

In [207]:
x, y = map(int, input().split())
def calc(a,b):
    add = a+b
    sli = a-b 
    gob = a*b
    devide= a/b
    return add,sli,gob, devide
a,s,m,d = calc(x,y)
print('덧셈: {0}, 뺄셈: {1}, 곱셈: {2}, 나눗셈: {3}'.format(a, s, m, d))

10 20
덧셈: 30, 뺄셈: -10, 곱셈: 200, 나눗셈: 0.5

In [210]:
def print_number(*arg):
    print(a)
    print(b)
    print(c)
x = [10, 20, 30]
print_number(*x)

30
{1, 2, 4, 5, 10, 20}
{8, 5, 6, 7}

In [213]:
def print_number(*args):
    for arg in args:
        print(arg, end='')
x = [1,2,3,4,5]
print_number(*x)

12345

In [215]:
def personal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)
personal_info(name='진우',  address ='구파발', age='25')

이름:  진우
나이:  25
주소:  구파발

In [216]:
x = {'name': '진우', 'age': 20, 'address': '구파발'}
personal_info(**x)

이름:  진우
나이:  20
주소:  구파발

In [237]:
def personal_info(**kwargs):
    a = 0
    for arg in kwargs.values():
        a = a+arg
        print(a / len(kwargs))
        
x = {'koean': 30, 'eng': 20, 'math': 30}
personal_info(**x)

10.0
16.666666666666668
26.666666666666668

In [225]:
def personal_info(name, age = 20, address='비공개'):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)
personal_info(name= '진우')

이름:  진우
나이:  20
주소:  비공개

In [226]:
korean, english, mathematics, science = 100, 86, 81, 91
 
def get_max_score(*arg):
    return max(*arg)

max_score = get_max_score(korean, english, mathematics, science)
print('높은 점수:', max_score)
 
max_score = get_max_score(english, science)
print('높은 점수:', max_score)

높은 점수: 100
높은 점수: 91

In [240]:
korean, english, mathematics, science = map(int, input().split())
def get_min_max_score(*arg):
    return min(*arg), max(*arg)
def get_average(**kwargs):
    avg = 0
    for arg in kwargs.values():
        avg += arg
    return avg / len(kwargs)

min_score, max_score = get_min_max_score(korean, english, mathematics, science)
average_score = get_average(korean=korean, english=english,
                            mathematics=mathematics, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))
 
min_score, max_score = get_min_max_score(english, science)
average_score = get_average(english=english, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))

76 82 89 84
낮은 점수: 76.00, 높은 점수: 89.00, 평균 점수: 82.75
낮은 점수: 82.00, 높은 점수: 84.00, 평균 점수: 83.00

In [3]:
from abc import *

class StudentBase(metaclass=ABCMeta):
    @abstractmethod
    def study(self):
        pass
    
    @abstractmethod
    def go_to_school(self):
        pass

class Student(StudentBase):
    def study(self):
        print('공부')
        
    def go_to_school(self):
        print('가라')

        
jins = Student()
jins.study()
jins.go_to_school()

공부
가라

In [4]:
class AdvancedList(list):
    def replace(self, old, new):
        while old in self:
            self[self.index(old)] = new
            
x = AdvancedList([1,2,3,1,2,3,1,2,3])
x.replace(1, 100)
print(x)

[100, 2, 3, 100, 2, 3, 100, 2, 3]

In [5]:
class Animal:
    def eat(self):
        print('먹다')

class Wing:
    def flap(self):
        print('파닥거리다')

class Bird(Animal, Wing):
    def fly(self):
        print('날다')
        
b = Bird()
b.eat()
b.flap()
b.fly()
print(issubclass(Bird, Animal))
print(issubclass(Bird, Wing))

먹다
파닥거리다
날다
True
True

In [15]:
import math

class Point2D:
    def __init__(self,x,y):
        self.x = x
        self.y = y
p1 = Point2D(x=30, y=20)
p2 = Point2D(x=60, y=50)

a = p2.x - p1.x
b = p2.y - p1.y

c = math.sqrt((a*a) + (b*b))
print(c)

42.42640687119285

In [14]:
import math
import collections

Point2D = collections.namedtuple('Point2D',['x','y'])

p1 = Point2D(x=30, y=20)
p2 = Point2D(x=60, y=50)

a=p1.x -p2.x
b= p1.y - p2.y

c = math.sqrt((a**2)+(b**2))
print(c)

42.42640687119285

In [20]:
import math

class Point2D:
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y
    
length = 0.0
p = [Point2D(), Point2D(), Point2D(), Point2D()]
p[0].x, p[0].y, p[1].x, p[1].y, p[2].x, p[2].y, p[3].x, p[3].y = map(int, input().split())

for i in range(len(p)-1):
    a = p[i].x-p[i+1].x
    b = p[i].y-p[i+1].y
    length = length + math.sqrt((a**2) + (b**2))

print(length)

10 10 20 20 30 30 40 40
42.42640687119285

In [23]:
try:
    x = int(input('나눌 숫자 입력: '))
    y = 10/x
    print(y)
except:
    print('예외')

나눌 숫자 입력: 2
5.0

In [29]:
y = [10,20,30]

try:
    index, x = map(int, input('인덱스와 나눌 숫자 입력: ').split())
    print(y[index]/x)
except Exception as e:
    print('0으로 나눌수 없음둥', e)

인덱스와 나눌 숫자 입력: 3 0
0으로 나눌수 없음둥 list index out of range

In [32]:
try:
    x = int(input('나눌 숫자 입력: '))
    y = 10/x
except Exception as e:
    print('에러', e)
else:
    print(y)

나눌 숫자 입력: d
에러 invalid literal for int() with base 10: 'd'

In [35]:
try:
    x = int(input('나눌 숫자 입력: '))
    y = 10 / x
except Exception as e:
    print('에러', e)
else:
    print(y)
finally:
    print('코드 종료')

나눌 숫자 입력: 0
에러 division by zero
코드 종료

In [38]:
try:
    x = int(input('4의 배수를 입력하세요: '))
    if x%4 != 0:
        raise Exception('4의 배수가 아닙니다.')
    print(x)
except Exception as e:
    print('예외 발생', e)

4의 배수를 입력하세요: 10
예외 발생 4의 배수가 아닙니다.

In [43]:
def three_multiple():
    x = int(input('3의 배수 입력: '))
    if x % 3 != 0:
        raise Exception('3의 배수가 아닙니다.')
    print(x)
    
try:
    three_multiple()
except Exception as e:
    print('예외 발생', e)

3의 배수 입력: 5
예외 발생 3의 배수가 아닙니다.

In [44]:
def three_multiple():
    try:
        x = int(input('3의 배수 입력: '))
        if x % 3 != 0:
            raise Exception('3의 배수가 아님!')
        print(x)
    except Exception as e:
        print('three_multiple 함수에서 예외가 발생했습니다.', e)
        raise

try:
    three_multiple()
except Exception as e:
    print('스크립트 파일에서 예외가 발생했습니다.', e)

3의 배수 입력: 5
three_multiple 함수에서 예외가 발생했습니다. 3의 배수가 아님!
스크립트 파일에서 예외가 발생했습니다. 3의 배수가 아님!

In [47]:
class Counter:
    def __init__(self,stop):
        self.current = 0
        self.stop = stop
    def __iter__(self):
        return self
    def __next__(self):
        if self.current < self.stop:
            r = self.current
            self.current += 1
            return r
        else:
            raise StopIteration

for i in Counter(3):
    print(i, end=' ')

0 1 2

In [48]:
class Counter:
    def __init__(self,stop):
        self.stop = stop
    def __getitem__(self,index):
        if index < self.stop:
            return index
        else:
            raise IndexError

print(Counter(3)[0], Counter(3)[1], Counter(3)[2])

for i in Counter(3):
    print(i, end = ' ')

0 1 2
0 1 2

In [52]:
it = iter(range(3))

next(it)
next(it)
next(it)
next(it)

StopIteration:

In [57]:
import random
for i in iter(lambda : random.randint(0,5), 2):
    print(i, end= ' ')

4 1 0 0 1 1 4

In [58]:
import random
while True:
    i = random.randint(0,5)
    if i == 2:
        break
    print(i, end = ' ')

4 1

In [59]:
it = iter(range(4))
for i in it:
    print(i, end = ' ')

0 1 2 3

In [64]:
class MultipleIterator:
    def __init__(self, stop, multiple):
        self.stop = stop
        self.multiple = multiple
        self.current = 0
    def __iter__(self):
        return self
    def __next__(self):
        self.current += 1
        if self.current * self.multiple < self.stop:
            return self.current * self.multiple
        else:
            raise StopIteration
for i in MultipleIterator(20,3):
    print(i, end = ' ')

print()
for i in MultipleIterator(30,5):
    print(i, end=' ')

3 6 9 12 15 18
5 10 15 20 25

In [68]:
class TimeIterator:
    def __init__(self, start, stop):
        self.start = start
        self.stop = stop
        
    def __getitem__(self,index):
        hour = (self.start + index) // 60 // 60 % 24
        min = (self.start + index) // 60 % 60
        sec = (self.start + index) % 60
        if index < self.stop - self.start:
            return '{0:02d}:{1:02d}:{2:02d}'.format(hour, min, sec)
        else:
            raise IndexError
      

start, stop, index = map(int, input().split())

for i in TimeIterator(start, stop):
    print(i)
    
print('\n', TimeIterator(start, stop)[index], sep ='')

0 3 2
00:00:00
00:00:01
00:00:02

00:00:02

In [69]:
def number_generator():
    yield 0
    yield 1
    yield 2
    
for i in number_generator():
    print(i)

0
1
2

In [70]:
def one_generator():
    yield 1
    return '하이'
try:
    g = one_generator()
    next(g)
    next(g)
except StopIteration as e:
    print(e)

하이

In [71]:
def number_generator(stop):
    n = 0
    while n < stop:
        yield n
        n += 1

for i in number_generator(3):
    print(i)

0
1
2

In [72]:
def upper_generator(x):
    for i in x:
        yield i.upper()
fruit = ['apple', 'pear', 'grape', 'pineapple', 'orange']
for i in upper_generator(fruit):
    print(i)

APPLE
PEAR
GRAPE
PINEAPPLE
ORANGE

In [73]:
def number_generator():
    x = [1,2,3]
    for i in x:
        yield i 
for i in number_generator():
    print(i)

1
2
3

In [74]:
def number_generator():
    x = [1,2,3]
    yield from x 
for i in number_generator():
    print(i)

1
2
3

In [75]:
def number_generator(stop):
    n = 0
    while n < stop:
        yield n
        n += 1
def three_generator():
    yield from number_generator(3)
    
for i in three_generator():
    print(i)

0
1
2

In [76]:
def file_read():
    with open('words.txt') as file:
        while True:
            line = file.readlines()
            if line == '':
                break
            yield line.strip('\n')
for i in file_read():
    print(i)

FileNotFoundError: [Errno 2] No such file or directory: 'words.txt'

In [79]:
def prime_number_generator(start, stop):
    for n in range(start, stop):
        is_prime = True
    for i in range(2,n):
        if n % i == 0:
            is_prime = False
    if is_prime:
        yield n 
                
        
start, stop = map(int, input().split())

g = prime_number_generator(start, stop)
print(type(g))
for i in g:
    print(i, end = ' ')

50 100
<class 'generator'>

In [82]:
def trace(func):
    def wrapper():
        print(func.__name__,'함수 시작')
        func()
        print(func.__name__,'함수 끝')
    return wrapper

@trace
def hello():
    print('hello')

@trace
def world():
    print('world')

    
hello()
world()

hello 함수 시작
hello
hello 함수 끝
world 함수 시작
world
world 함수 끝

In [87]:
def trace(func):
    def wrapper(a,b):
        r = func(a,b)
        print('{0}(a = {1}, b={2})->{3}'.format(func.__name__,a , b, r))
        return r
    return wrapper

@trace
def add(a,b):
    return a + b

print(add(10, 20))

add(a = 10, b=20)->30
30

In [89]:
def trace(func):
    def wrapper(*args, **kwargs):
        r = func(*args, **kwargs)
        print('{0}(args={1}, kwargs={2}) -> {3}'.format(func.__name__, args, kwargs, r))
    
        return r
    return wrapper

@trace
def get_max(*args):
    return max(args)

@trace 
def get_min(**kwargs):
    return min(kwargs.values())

print(get_max(10, 20))
print(get_min(x=10, y=20, z=30))

get_max(args=(10, 20), kwargs={}) -> 20
20
get_min(args=(), kwargs={'x': 10, 'y': 20, 'z': 30}) -> 10
10

In [90]:
class Trace:
    def __init__(self, func):
        self.func = func
        
    def __call__(self):
        print(self.func.__name__,'함수 시작')
        self.func()
        print(self.func.__name__,'함수 끝')
        
@Trace
def hello():
    print('hello')
    
hello()

hello 함수 시작
hello
hello 함수 끝

In [92]:
class Trace:
    def __init__(self,func):
        self.func = func
        
    def __call__(self, *args, **kwargs):
        r = self.func(*args,**kwargs)
    
        print('{0}(args={1}, kwargs={2}) -> {3}'.format(self.func.__name__, args, kwargs, r))
        return r
    
@Trace
def add(a, b):
    return a + b

print(add(10, 20))
print(add(a= 10, b = 20))

add(args=(10, 20), kwargs={}) -> 30
30
add(args=(), kwargs={'a': 10, 'b': 20}) -> 30
30

In [93]:
def type_check(type_a, type_b):
    def real_decorator(func):
        def wrapper(a,b):
            if isinstance(a, type_a) and isinstance(b, type_b):
                return func(a,b)
            else:
                raise RuntimeError('자료형이 올바르지 않습니다.')
            return wrapper
        return real_decorator
    
@type_check(int, int)
def add(a, b):
    return a + b

print(add(10,20))
print(add('hello', 'world'))

TypeError: 'NoneType' object is not callable

In [96]:
import re
re.match('hello', 'hello, world!')

In [97]:
import re
re.search('^Hello', 'Hello, world')

In [98]:
import re
re.match('hello|world', 'hello')

In [99]:
import re
re.match('abc?d', 'abd')

In [100]:
import math
math.pi

3.141592653589793

In [103]:
import math
math.sqrt(4)

2.0

In [104]:
import math as m
m.sqrt(4)

2.0

In [106]:
from math import pi
pi

3.141592653589793

In [107]:
from math import sqrt
sqrt(4)

2.0

In [109]:
from math import pi, sqrt
pi
sqrt(4.0)

2.0

In [110]:
from math import *
pi

3.141592653589793

In [111]:
from urllib.request import *
req = Request('http://www.google.co.kr')
response = urlopen(req)
response.status

200

In [112]:
from urllib.request import Request as r, urlopen as u
req = r('http://www.google.co.kr')
response = u(req)
response.status

200

In [113]:
import requests
r = requests.get('http://www.google.co.kr')
r.status_code

200

In [114]:
def add(a, b):
    return a + b

def mul(a, b):
    return a * b

if __name__ == '__main__':
    print(add(10, 20))
    print(mul(10, 20))

30
200

In [7]:
fruit = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}
'peach' not in fruit

True